.dashboard {
  position: absolute;
  width: 100rem;
  height: 100rem;
  background: #f5f8ff;
}

/* Divider */
.divider {
  position: absolute;
  width: 1207px;
  height: 0px;
  left: 1355px;
  top: 264px;
  border: 1px solid #578ff1;
  transform: rotate(-180deg);
}
