section {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f5f8ff;
}

.dashboard {
  position: absolute;
  width: 1377px;
  height: 529px;
  top: 0px;
  opacity: 0.5;
}

h2 {
  position: absolute;
  width: 718px;
  height: 162px;
  left: 361px;
  top: 122px;
  font-family: Spectral;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 73px;
  color: #578ff1;
}

.writeButton {
  position: absolute;
  width: 304px;
  height: 70px;
  left: 588px;
  top: 393px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

h3 {
  position: absolute;
  width: 371px;
  height: 53px;
  left: 112px;
  top: 588px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  color: #474747;
}
